<!-- <h1>Hotel los tres vagos</h1> -->
<!-- <h1><img src="img/logo1.png" style="width: 30px; height: 30px;"><strong style="color: ;">Hotel los tres vagos</strong></h1> -->
 <!-- <h1>Hotel los tres vagos</h1> -->
  
 <header class="header d-flex justify-content-around align-items-center">
    <div></div>
    <div>
        <img class="animate__animated animate__lightSpeedInRight" src="img/logoGolden.png">
        <p class="metalico animate__animated animate__rollIn" style="font-size: 25px;">Descansa como vago, vive como rey</p>
    </div>
    <button class="d-flex flex-column align-items-center" (click)="toLogin()">
        @if (iconLogged) {
            <div class="d-flex flex-column userImage">
                <img [src]="imgUsuario" alt="{{nombreUsuario}}">
            </div>
            {{nombreUsuario}}
        }@else {
            <i class="fa-solid" [ngClass]="{'fa-right-to-bracket': !iconLogged, '': iconLogged}"></i>{{nombreUsuario}}
        }
    </button>
</header>
