<div class="text-center d-flex flex-column">
    <section class="d-flex justify-content-around align-items-center">
        <div>
            <img src="img/logoWhite.png" alt="">
        </div>
        <div class="socialMedia d-flex gap-4">
            <a href="https://www.google.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.google.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.google.com" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
        </div>
    </section>
    <p>Esto es un proyecto universitario. No somos dueños de las imágenes. Las imágenes pertenecen a sus respectivos dueños</p>
</div>