<section class="presentacion position-relative">
  <img src="img/fondo-servicios.jpg" class="video-fondo">

  <div class="texto-cuadro position-absolute top-50 start-50 translate-middle p-5 rounded-4 text-white">
    <h2 class="mb-4 display-5 fw-bold animate__animated animate__lightSpeedInLeft" style="color: gold;">
      Servicios
    </h2>
    <p class="fs-5 mb-0 animate__animated animate__rotateInUpRight">
      Porque ofrecerte una estadía de lujo sin ofrecerte unos servicios de lujo no sería justo. Estos servicios están pensados para jóvenes, adolescentes y adultos, 
      para que puedan relajarse y disfrutar de su estadía en nuestra humilde mansión. Tenemos desde albercas para adultos hasta club kids, 
      por si quieres que cuidemos de forma excelente a tus hijos mientras tú te relajas. Servicios de lavandería para tu ropa, gimnasio por 
      si quieres seguir con tu rutina en la playa, o eventos nocturnos para que disfrutes al ritmo de la música o viendo una buena película que cambia cada día. <br><br>
      De cualquier forma, te complaceremos porque recuerda: en *Hotel Los Tres Vagos* descansas como vago, pero vives como rey.
    </p>
  </div>
</section>

<h1 style="display: flex; justify-content: center; font-size: 64px; margin-bottom: 15px; margin-top: 20px; font-family: DisplayFair; background-color: black; color: gold;">Nuestros Servicios Disponibles</h1>

<section class="seccion-servicios">
    <!-- bloque 1, recuerda quien sea que modifique los bloques son de 4 servicios por que si no se dislocan todas XDDDDDD -->
    <div class="servicio" style="background-image: url('img/wifi.jpg');">
      <div class="overlay"><h3>WIFI EN AREAS PUBLICAS</h3></div>
    </div>
    <div class="servicio" style="background-image: url('img/spa.jpg');">
      <div class="overlay"><h3>CLINICA DE SPA</h3></div>
    </div>
    <div class="servicio" style="background-image: url('img/bodas.jpg');">
      <div class="overlay"><h3>ORGANIZACION DE BODAS</h3></div>
    </div>
    <div class="servicio" style="background-image: url('img/turismo.jpg');">
      <div class="overlay"><h3>TURISMO Y GRANDES AVENTURAS</h3></div>
    </div>
    <!-- bloque 2 -->
    <div class="servicio" style="background-image: url('img/familiar.jpg');">
      <div class="overlay"><h3>ALBERCA FAMILIAR</h3></div>
    </div>
    <div class="servicio" style="background-image: url('img/gym.webp');">
      <div class="overlay"><h3>GIMNASIO</h3></div>
    </div>
    <div class="servicio" style="background-image: url('img/adultos.jpg');">
        <div class="overlay"><h3>ALBERCA PARA ADULTOS</h3></div>
      </div>
    <div class="servicio" style="background-image: url('img/club-kids.jpg');">
      <div class="overlay"><h3>ZONA KIDS</h3></div>
    </div>
    <!-- bloque 3 -->
    <div class="servicio" style="background-image: url('img/evento-nocturno.jpg');">
        <div class="overlay"><h3>EVENTOS NOCTURNOS</h3></div>
    </div>
    <div class="servicio" style="background-image: url('img/bar.jpg');">
        <div class="overlay"><h3>BAR TODA LA NOCHE</h3></div>
    </div>
    <div class="servicio" style="background-image: url('img/deportes.jpg');">
        <div class="overlay"><h3>EVENTOS DEPORTIVOS</h3></div>
    </div>
    <div class="servicio" style="background-image: url('img/cayac.jpg');">
        <div class="overlay"><h3>NADO EN CAYAC Y SURF</h3></div>
    </div>
</section>

<h1 style="display: flex; justify-content: center; font-size: 48px; margin-bottom: 15px; margin-top: 20px; font-family: DisplayFair; background-color: black; color: gold;">Nuestros Horarios Disponibles</h1>

<section class="tabla-horarios">
  <table>
    <tr>
      <th>Horario de las actividades</th>
      <th>Clínica de Spa</th>
      <th>Turismo y grandes aventuras</th>
      <th>Alberca para adultos</th>
      <th>Zona Kids</th>
      <th>Eventos Nocturnos</th>
      <th>Bar principal</th>
    </tr>
    <tr>
      <td>Horario</td>
      <td>7:00 AM - 6:00 PM</td>
      <td>8:00 AM - 3:00 PM</td>
      <td>10:00 AM - 10:00 PM</td>
      <td>1:00 PM - 7:00 PM</td>
      <td>8:00 PM - 10:00 PM</td>
      <td>9:00 AM - 12:00 PM</td>
    </tr>
  </table>

  <h2>
    Las reservaciones de las distintas actividades se hacen dentro del hotel porque en ocasiones
    los horarios pueden variar según la disponibilidad de nuestros socios.
  </h2>
</section>
