<section class="presentacion position-relative">
  <img src="img/fondo-gastronomia.jpg" class="video-fondo">

  <div class="texto-cuadro position-absolute top-50 start-50 translate-middle p-5 rounded-4 text-white">
    <h2 class="mb-4 display-5 fw-bold animate__animated animate__lightSpeedInLeft" style="color: gold;">
      Restaurantes
    </h2>
    <p class="fs-5 mb-0 animate__animated animate__rotateInUpRight">
      Una experiencia culinaria que despierta los sentidos. En nuestro restaurante, los sabores tradicionales se reinventan con un toque de modernidad, dando vida a platillos únicos preparados con ingredientes frescos y locales. 
      Cada comida es una celebración, acompañada por un ambiente sofisticado y un servicio impecable. 
      Disfruta desde un desayuno reconfortante hasta una cena gourmet, en un espacio donde cada bocado cuenta una historia.
    </p>
  </div>
</section>

<section class="d-flex flex-column align-items-center">
  @for (restaurant of restaurants; track restaurant; let i = $index) {
    <div
      class="d-flex justify-content-center align-items-center p-3 gap-3 m-3 rounded rounded-3 contRest"
      [ngClass]="{
        'flex-row-reverse': i % 2 === 1,
        'animate__animated': true,
        'animate__backInLeft': i % 2 === 0,
        'animate__backInRight': i % 2 === 1
      }"
    >
      <div class="contenedorImg">
        <img class="rounded" [src]="restaurant.imagen" [alt]="restaurant.nombre" />
      </div>
      <div class="contenedorTexto mx-5">
        <h3 [innerHTML]="restaurant.nombre" class="text-center"></h3>
        <p [innerHTML]="restaurant.descripcion"></p>
        @for (horario of restaurant.horarios; track horario) {
          <p [innerHTML]="horario" class="text-center"></p>
        }
      </div>
    </div>
  }
</section>


<section class="seccion-gastronomia position-relative">
  <img src="img/fondo-gastronomia.jpg" class="bg-gastronomia" alt="Fondo de gastronomía">

  <div class="cuadro-gastronomia position-absolute top-50 start-50 translate-middle text-center p-4 rounded-4 text-white">
    <h2 class="mb-3 fw-bold display-6" style="color: gold;">Conoce nuestros mejores platillos</h2>
     <h4 class="mb-3 fw-bold display-6" style="color: black; font-size: 25px;">
      Conoce nuestros mejores platillos preparados por los mejores chefs en el mundo.
     </h4>
    <a class="nav-link" [routerLink]="getRoutes('saucer')" routerLinkActive="active" class="btn btn-outline-light px-4 py-2 rounded-pill fw-semibold">Abrir el baul magico</a>
  </div>
</section>
