<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <video class="d-block w-70" autoplay muted loop>
            <source src="video/Video.mp4" type="video/mp4">
        </video>
      </div>
      <div class="carousel-item">
        <img src="img/entrada.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="img/panoramica1.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>

<section class="presentacion position-relative mt-4">
    <img src="img/playa.jpg" class="img-fondo w-100" alt="Hotel Los Tres Vagos">
  
    <div class="texto-cuadro position-absolute top-50 end-0 translate-middle-y p-5 rounded-4 me-5">
      <h2 class="mb-4 display-5 fw-bold" style="color: gold;">Hotel Los Tres Vagos</h2>
      <p class="fs-5 mb-0">
        Bienvenido a un lugar donde el lujo se encuentra con la tranquilidad.  
        En el Hotel Los Tres Vagos, cada rincón ha sido diseñado para ofrecerte una experiencia inolvidable.  
        Desde nuestras elegantes habitaciones con vistas panorámicas, hasta nuestro restaurante gourmet  
        que fusiona tradición y modernidad, te invitamos a sumergirte en un mundo de confort,  
        atención personalizada y detalles que marcan la diferencia.<br><br>
  
        Ideal tanto para escapadas románticas como para estancias de negocios,  
        nuestro hotel es un refugio de estilo y serenidad en el corazón del descanso.  
        Vive el placer de hospedarte en un lugar donde cada huésped es tratado como una obra de arte.  
        Relájate, respira, y déjate llevar... porque en Los Tres Vagos, el tiempo se detiene para ti.
      </p>
    </div>
</section>
  
<section class="ubicacion container mt-5 mb-5">
    <div class="row align-items-center">
      <div class="col-md-6 mb-4 mb-md-0">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3733.8209836368223!2d-105.23585602503373!3d20.636152401148095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x84214575fab7051b%3A0x56cf8c8d9edda9b3!2sHotel%20Las%20Palmas%20by%20the%20Sea%20All%20Inclusive%20Puerto%20Vallarta!5e0!3m2!1ses-419!2smx!4v1746059371795!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="col-md-6">
        <h2 class="mb-3 display-6 fw-bold">¿Dónde encontrarnos?</h2>
        <p class="fs-5">
          El Hotel Los Tres Vagos se encuentra ubicado en una de las zonas más exclusivas y tranquilas de la ciudad,  
          rodeado de naturaleza y a solo minutos de la playa.  
          Es el destino perfecto para quienes buscan paz, comodidad y una experiencia inolvidable.
        </p>
        <p class="fs-5 fw-semibold">
           Av. Paraíso #123, Puerto Vallarta
        </p>
      </div>
    </div>
</section>
  